@model IEnumerable<Travel.Web.Data.Entities.TravelEntity>

@{
    ViewData["Title"] = "Index";
}

<h2>Travels</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>

            <th>
                # Travels
            </th>
            <th>
                $ Total Expenses
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation)
            </td>
            

            <td>
                <a asp-action="DetailUserTravels" asp-route-id="@item.Id" class="btn btn-info">Details</a>
            </td>




















        </tr>
}
    </tbody>
</table>
